html{
    font-size: 12px;
}

body{
    margin: 0;
    padding : 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > nav{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding : 0 0 0 5%;
}

body > main{
    flex: 1;
    border-top : 1px solid #e1e4e8;
    border-bottom : 1px solid #e1e4e8;
}

body > footer{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding : 0 0 0 5%;
}